@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 50px auto;
    width: 1440px;
}

/* Style nav menu */

.header_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 82px;
    padding: 23px 48px;
    background-color: #fff;
}

.nav_logo {
    width: 107px;
    height: 36px;
    background: url("../img/logo.svg") no-repeat;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.nav_link {
    margin-right: 40px;
}

.nav_link_a {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}

.nav_link_a:hover {
    position: relative;
    top: -5px;
    color: #007188;
    background-color: #ffddd7;
    padding: 10px;
}

.blue {
    background-color: #007188;
    color: #ffffff;
    padding: 13px 24px;
    border-radius: 5px;
}

/* Style content block */

.header_content {
    width: 100%;
    height: 1000px;
    display: flex;
}

.header_content_title {
    width: 50%;
    height: 100%;
    background-color: #fff3f1;
    padding: 240px 50px 0 135px;
}

.header_content_title > h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 71px;
    color: #041011;
    margin-bottom: 43px;
}

.header_content_title > p {
    margin-bottom: 35px;
    font-size: 21px;
    line-height: 34px;
}

.header_content_img {
    width: 50%;
}

/* Style forms */

.header_content_forms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    border: 1px solid #ffffff;
    height: 82px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.07);
    border-radius: 200px;
}

input {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    outline: none;
}

input[type=text] {
    width: 134px;
    height: 34px;
    text-decoration: none;
    border: none;
    margin-left: 37px;
}

input[type=submit] {
    height: 62px;
    background-color: #007188;
    border: none;
    border-radius: 200px;
    width: 35%;
    margin-right: 8px;
    color: #fff;
}

input[type=submit]:hover {
    color: #007188;
    background-color: #ffddd7;
}


