.mCenter {
    margin: 10px auto;
    padding: 5px;
    max-width: 900px;
    border: 1px solid red;
    text-transform: uppercase;
    text-align: center;
    background-color: #e5bf7b;

}

.content {
    display: flex;
    justify-content: center;
    background-color: lightpink;
}

.content_addr {
    padding: 0 15px;
    border: 2px solid blue;
    width: 80px;
}
