* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.header-title {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 7px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    color: indianred;
}

.content-wrap {
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    padding: 50px;
    background-color: #bb8d57;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 25px;
}

.users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.user {
    width: 30%;
    height: 20vh;
    text-align: center;
    color: #6c6464;
    padding-top: 10%;
    border: 1px solid red;
    background-color: bisque;
    border-radius: 25px;
}

.bold {
    font-weight: 900;
}