.wrapper {
    display: flex;
    justify-content: flex-start;
}

.comments {
    width: 70%;
    position: relative;
    left: 0;
}

.postInfo {
    position: fixed;
    top: 7%;
    right: 20%;
    width: 20%;
}