* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
}

.card-class {
    padding: 10px;
    margin: 20px;
    background-color: silver;
    border-radius: 25px;
}

.h1-class {
    text-align: center;
    color: #043c56;
    text-transform: uppercase;
    margin: 20px 0;
}

.img-class {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
}

.text-class {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.btn-class {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}

.btn-class:hover {
    background-color: #0a508f;
    color: white;
}