* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3e4e4;
}

.container-primary {
    width: 1200px;
    border: 2px solid #8c8989;
    margin: 0 auto;
    margin-bottom: 40px;
}

.h145 {
    height: 145px;
}

.h150 {
    height: 150px;
}

.h300 {
    height: 300px;
}

.w29 {
    width: 28.5%;
}

.w33 {
    width: 32%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}

.silver {
    background-color: silver;
}

.m5 {
    margin: 5px;
}

.mb10 {
    margin-bottom: 10px;
}
.p10 {
    padding: 10%;
}

.p20 {
    padding: 20%;
}

.flex {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.f-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.f-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}

span {
    font-size: 28px;
    text-align: center;
}

.child {
    flex-wrap: wrap;
}


