* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

header {
    display: block;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 55px;
    padding: 15px;
    background-color: #69553d;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrap {
    display: block;
    position: relative;
    top: 70px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.user-block {
    width: 45%;
    height: 150px;
    margin: 20px;
    padding: 45px 15px;
    border-radius: 25px;
    text-align: center;
    background-color: #cbab86;
}

.user-block > div {
    margin-bottom: 15px;
}

.button {
    width: 60%;
    background-color: green;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

.button > a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
}

.button:hover {
    background-color: darkslategrey;
    color: white;
}

/* Style user-details page*/
ul, ol {
    list-style-type: none;
}
.user-details-info, .addressing, .geo {
    padding: 15px;
}

.user-details-info {
    background-color: #f1a74e;
    color: green;
    font-size: 18px;
    padding-left: 30px;
    border-left: 10px solid darkslategrey;
}

.addressing {
    background-color: #725d45;
    color: white;
    padding-left: 60px;
}

.geo {
    background-color: #a27c4e;
    color: white;
    padding-left: 120px;
}

#info-user > button {
    width: 100%;
}

.posts-sections {
    margin-bottom: 40px;
}

.post-link {
    display: block;
    padding: 10px;
    font-size: 16px;
}

/* Style post details*/

.post-block {
    background-color: #c7a67f;
    border: 1px solid green;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.post-block > h2 {
    margin: 10px;
    color: green;
}

.user-email {
    color: darkcyan;
}

.post-block > p {
    padding: 10px;
}



