span {
    display: block;
}

b {
    display: block;
}

.App {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

.personal-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    border: 2px solid green;
    border-radius: 25px;
    padding: 20px 0;
}

.person-data {
    width: 60%;
    padding: 5px 10px 5px 30px;
}

.person-data > h2, span {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}

.person-info {
    width: 25%;
}